WSBalanceClient/Service References/SalaryInfoService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BalanceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BalanceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SalaryInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Appraisals" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BigDiseaseInsuranceMoney" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BucklupLastMonth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChargebacksAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpiredAllowance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HealthInsuranceMoney" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseAllowance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseFund" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="JobSalary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LossJobMoney" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherIncome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OvertimePay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PensionMoney" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfessionAllowance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RealAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RealPerformance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RealSalary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RetainsSalary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reward" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RiskMoney" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalaryTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ShouldPerformance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShouldSalary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StaffCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StaffName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SynthesizeAllowance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxDeductable" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnionMoney" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YearCreditAllowance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YearMoney" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalaryInfo" nillable="true" type="tns:SalaryInfo" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="OrderbyColomnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderbyColomnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfSalaryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalaryInfo" nillable="true" type="tns:SalaryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalaryInfo" nillable="true" type="tns:ArrayOfSalaryInfo" />
</xs:schema>