UserAuthorization/Service References/UserFuncInfoService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorizationModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorizationModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserFuncInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FunId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserFuncInfo" nillable="true" type="tns:UserFuncInfo" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="OrderbyColomnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderbyColomnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfUserFuncInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserFuncInfo" nillable="true" type="tns:UserFuncInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserFuncInfo" nillable="true" type="tns:ArrayOfUserFuncInfo" />
</xs:schema>