BalanceReport/Service References/CustomerManagerBalanceService/CustomerManagerBalanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerManagerBalanceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/CustomerManagerBalanceService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/CustomerManagerBalanceService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/CustomerManagerBalanceService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BalanceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerManagerBalanceService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_SelectCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCount" />
  </wsdl:message>
  <wsdl:message name="ICustomerManagerBalanceService_SelectCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCountResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerManagerBalanceService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/Add" message="tns:ICustomerManagerBalanceService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/AddResponse" message="tns:ICustomerManagerBalanceService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/Update" message="tns:ICustomerManagerBalanceService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/UpdateResponse" message="tns:ICustomerManagerBalanceService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/Delete" message="tns:ICustomerManagerBalanceService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/DeleteResponse" message="tns:ICustomerManagerBalanceService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/Select" message="tns:ICustomerManagerBalanceService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/SelectResponse" message="tns:ICustomerManagerBalanceService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/SelectCount" message="tns:ICustomerManagerBalanceService_SelectCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManagerBalanceService/SelectCountResponse" message="tns:ICustomerManagerBalanceService_SelectCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerManagerBalanceService" type="tns:ICustomerManagerBalanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagerBalanceService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagerBalanceService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagerBalanceService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagerBalanceService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCount">
      <soap:operation soapAction="http://tempuri.org/ICustomerManagerBalanceService/SelectCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerManagerBalanceService">
    <wsdl:port name="BasicHttpBinding_ICustomerManagerBalanceService" binding="tns:BasicHttpBinding_ICustomerManagerBalanceService">
      <soap:address location="http://localhost/WcfBalanceServiceLibrary/CustomerManagerBalanceService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>