BalanceReport/Service References/AccountBalanceService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/AccountBalanceService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BalanceModel" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="info" nillable="true" type="q1:AccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="info" nillable="true" type="q2:AccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="info" nillable="true" type="q3:AccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="info" nillable="true" type="q4:AccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="SelectResult" nillable="true" type="q5:ArrayOfAccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="info" nillable="true" type="q6:AccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="model" nillable="true" type="q7:DepartmentBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="SelectByDepartmentResult" nillable="true" type="q8:ArrayOfAccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByDepartmentCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="model" nillable="true" type="q9:DepartmentBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByDepartmentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectByDepartmentCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallTimeSpanProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="t" nillable="true" type="q10:AccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallTimeSpanProcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="CallTimeSpanProcResult" nillable="true" type="q11:ArrayOfAccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>