WSBalanceClient/Service References/CustomerManagerInfoService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BalanceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BalanceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerManagerInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Institution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManagerEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManagerID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManagerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManagerTelphone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteTel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerManagerInfo" nillable="true" type="tns:CustomerManagerInfo" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="OrderbyColomnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderbyColomnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfCustomerManagerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerManagerInfo" nillable="true" type="tns:CustomerManagerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerManagerInfo" nillable="true" type="tns:ArrayOfCustomerManagerInfo" />
</xs:schema>