BalanceReport/Service References/ServiceFile/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BalanceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BalanceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileRealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffSet" type="xs:long" />
      <xs:element minOccurs="0" name="SendByte" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFileInfo" nillable="true" type="tns:CustomFileInfo" />
  <xs:complexType name="UploadFileInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FileDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FileException" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileMD5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileRealName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileState" type="xs:int" />
          <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileUploadTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOverride" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UploadFileInfo" nillable="true" type="tns:UploadFileInfo" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="OrderbyColomnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderbyColomnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfUploadFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UploadFileInfo" nillable="true" type="tns:UploadFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUploadFileInfo" nillable="true" type="tns:ArrayOfUploadFileInfo" />
</xs:schema>