BalanceReport/Service References/ServiceFile/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/ServiceFile/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BalanceModel" />
  <xs:element name="UpLoadFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="fileInfo" nillable="true" type="q1:CustomFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpLoadFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="UpLoadFileInfoResult" nillable="true" type="q2:CustomFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="uploadfileinfo" nillable="true" type="q3:UploadFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="GetFileInfoResult" nillable="true" type="q4:UploadFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUpLoadResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="uploadfileinfo" nillable="true" type="q5:UploadFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUpLoadResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreUpLoadResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientTriggerHandleFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="uploadfileinfo" nillable="true" type="q6:UploadFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientTriggerHandleFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientTriggerHandleFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadTemplateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadTemplateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownLoadTemplateFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="uploadfileinfo" nillable="true" type="q7:UploadFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BalanceModel" minOccurs="0" name="SelectResult" nillable="true" type="q8:ArrayOfUploadFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>