BalanceReport/Service References/ServiceFile/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBalanceServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBalanceServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportType" type="tns:FileType" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffSet" type="xs:long" />
      <xs:element minOccurs="0" name="SendByte" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFileInfo" nillable="true" type="tns:CustomFileInfo" />
  <xs:simpleType name="FileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Day" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Manager" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
</xs:schema>