BalanceReport/Service References/ServiceFile/ServiceFile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceFile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/ServiceFile/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/ServiceFile/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/ServiceFile/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BalanceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceFile_UpLoadFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpLoadFileInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceFile_UpLoadFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpLoadFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFile_GetFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceFile_GetFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFile_StoreUpLoadResult_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreUpLoadResult" />
  </wsdl:message>
  <wsdl:message name="IServiceFile_StoreUpLoadResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreUpLoadResultResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFile_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IServiceFile_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceFile">
    <wsdl:operation name="UpLoadFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFile/UpLoadFileInfo" message="tns:IServiceFile_UpLoadFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFile/UpLoadFileInfoResponse" message="tns:IServiceFile_UpLoadFileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFile/GetFileInfo" message="tns:IServiceFile_GetFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFile/GetFileInfoResponse" message="tns:IServiceFile_GetFileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreUpLoadResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFile/StoreUpLoadResult" message="tns:IServiceFile_StoreUpLoadResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFile/StoreUpLoadResultResponse" message="tns:IServiceFile_StoreUpLoadResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFile/Select" message="tns:IServiceFile_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFile/SelectResponse" message="tns:IServiceFile_Select_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceFile" type="tns:IServiceFile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpLoadFileInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceFile/UpLoadFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceFile/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreUpLoadResult">
      <soap:operation soapAction="http://tempuri.org/IServiceFile/StoreUpLoadResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IServiceFile/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceFile">
    <wsdl:port name="BasicHttpBinding_IServiceFile" binding="tns:BasicHttpBinding_IServiceFile">
      <soap:address location="http://localhost/WcfBalanceServiceLibrary/ServiceFile/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>