AutoUpate/Service References/AutoUpdateService/AutoUpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutoUpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfAuthorizationServiceLibrary/AutoUpdateService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfAuthorizationServiceLibrary/AutoUpdateService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfAuthorizationServiceLibrary/AutoUpdateService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthorizationModel" />
      <xsd:import schemaLocation="http://localhost/WcfAuthorizationServiceLibrary/AutoUpdateService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost/WcfAuthorizationServiceLibrary/AutoUpdateService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutoUpdateService_CheckAutoUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAutoUpdate" />
  </wsdl:message>
  <wsdl:message name="IAutoUpdateService_CheckAutoUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAutoUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IAutoUpdateService_DownLoadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFile" />
  </wsdl:message>
  <wsdl:message name="IAutoUpdateService_DownLoadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutoUpdateService">
    <wsdl:operation name="CheckAutoUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutoUpdateService/CheckAutoUpdate" message="tns:IAutoUpdateService_CheckAutoUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutoUpdateService/CheckAutoUpdateResponse" message="tns:IAutoUpdateService_CheckAutoUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutoUpdateService/DownLoadFile" message="tns:IAutoUpdateService_DownLoadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutoUpdateService/DownLoadFileResponse" message="tns:IAutoUpdateService_DownLoadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutoUpdateService" type="tns:IAutoUpdateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAutoUpdate">
      <soap:operation soapAction="http://tempuri.org/IAutoUpdateService/CheckAutoUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadFile">
      <soap:operation soapAction="http://tempuri.org/IAutoUpdateService/DownLoadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoUpdateService">
    <wsdl:port name="BasicHttpBinding_IAutoUpdateService" binding="tns:BasicHttpBinding_IAutoUpdateService">
      <soap:address location="http://localhost/WcfAuthorizationServiceLibrary/AutoUpdateService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>