BalanceReport/Service References/DepartmentBalanceService/DepartmentBalanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DepartmentBalanceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/DepartmentBalanceService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/DepartmentBalanceService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/DepartmentBalanceService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BalanceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentBalanceService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_SelectCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCount" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_SelectCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCountResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_CallTimeSpanProc_InputMessage">
    <wsdl:part name="parameters" element="tns:CallTimeSpanProc" />
  </wsdl:message>
  <wsdl:message name="IDepartmentBalanceService_CallTimeSpanProc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallTimeSpanProcResponse" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentBalanceService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentBalanceService/Add" message="tns:IDepartmentBalanceService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentBalanceService/AddResponse" message="tns:IDepartmentBalanceService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentBalanceService/Update" message="tns:IDepartmentBalanceService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentBalanceService/UpdateResponse" message="tns:IDepartmentBalanceService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentBalanceService/Delete" message="tns:IDepartmentBalanceService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentBalanceService/DeleteResponse" message="tns:IDepartmentBalanceService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentBalanceService/Select" message="tns:IDepartmentBalanceService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentBalanceService/SelectResponse" message="tns:IDepartmentBalanceService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentBalanceService/SelectCount" message="tns:IDepartmentBalanceService_SelectCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentBalanceService/SelectCountResponse" message="tns:IDepartmentBalanceService_SelectCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallTimeSpanProc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentBalanceService/CallTimeSpanProc" message="tns:IDepartmentBalanceService_CallTimeSpanProc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentBalanceService/CallTimeSpanProcResponse" message="tns:IDepartmentBalanceService_CallTimeSpanProc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDepartmentBalanceService" type="tns:IDepartmentBalanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IDepartmentBalanceService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDepartmentBalanceService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDepartmentBalanceService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IDepartmentBalanceService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCount">
      <soap:operation soapAction="http://tempuri.org/IDepartmentBalanceService/SelectCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallTimeSpanProc">
      <soap:operation soapAction="http://tempuri.org/IDepartmentBalanceService/CallTimeSpanProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentBalanceService">
    <wsdl:port name="BasicHttpBinding_IDepartmentBalanceService" binding="tns:BasicHttpBinding_IDepartmentBalanceService">
      <soap:address location="http://localhost/WcfBalanceServiceLibrary/DepartmentBalanceService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>