WSBalanceClient/Service References/ZoneBalanceService/ZoneBalanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZoneBalanceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/ZoneBalanceService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/ZoneBalanceService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfBalanceServiceLibrary/ZoneBalanceService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BalanceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZoneBalanceService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_SelectCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCount" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_SelectCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCountResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_CallTimeSpanProc_InputMessage">
    <wsdl:part name="parameters" element="tns:CallTimeSpanProc" />
  </wsdl:message>
  <wsdl:message name="IZoneBalanceService_CallTimeSpanProc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallTimeSpanProcResponse" />
  </wsdl:message>
  <wsdl:portType name="IZoneBalanceService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneBalanceService/Add" message="tns:IZoneBalanceService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneBalanceService/AddResponse" message="tns:IZoneBalanceService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneBalanceService/Update" message="tns:IZoneBalanceService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneBalanceService/UpdateResponse" message="tns:IZoneBalanceService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneBalanceService/Delete" message="tns:IZoneBalanceService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneBalanceService/DeleteResponse" message="tns:IZoneBalanceService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneBalanceService/Select" message="tns:IZoneBalanceService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneBalanceService/SelectResponse" message="tns:IZoneBalanceService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneBalanceService/SelectCount" message="tns:IZoneBalanceService_SelectCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneBalanceService/SelectCountResponse" message="tns:IZoneBalanceService_SelectCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallTimeSpanProc">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneBalanceService/CallTimeSpanProc" message="tns:IZoneBalanceService_CallTimeSpanProc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneBalanceService/CallTimeSpanProcResponse" message="tns:IZoneBalanceService_CallTimeSpanProc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZoneBalanceService" type="tns:IZoneBalanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IZoneBalanceService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IZoneBalanceService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IZoneBalanceService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IZoneBalanceService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCount">
      <soap:operation soapAction="http://tempuri.org/IZoneBalanceService/SelectCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallTimeSpanProc">
      <soap:operation soapAction="http://tempuri.org/IZoneBalanceService/CallTimeSpanProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZoneBalanceService">
    <wsdl:port name="BasicHttpBinding_IZoneBalanceService" binding="tns:BasicHttpBinding_IZoneBalanceService">
      <soap:address location="http://localhost/WcfBalanceServiceLibrary/ZoneBalanceService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>