WSBalanceClient/Service References/PGWebistePerformanceInfoService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BalanceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BalanceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PGWebistePerformanceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonGoldBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="PGDebitCardInfoObj" nillable="true" type="tns:PGDebitCardInfo" />
          <xs:element minOccurs="0" name="PGInsuranceInfoObj" nillable="true" type="tns:PGInsuranceInfo" />
          <xs:element minOccurs="0" name="WebsiteInfoObj" nillable="true" type="tns:WebsiteInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PGWebistePerformanceInfo" nillable="true" type="tns:PGWebistePerformanceInfo" />
  <xs:complexType name="PersonGoldBaseModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewWebsiteID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonGoldBaseModel" nillable="true" type="tns:PersonGoldBaseModel" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
      <xs:element minOccurs="0" name="OrderbyColomnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderbyColomnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="PGDebitCardInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonGoldBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentDayBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrentMonthAverageBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrentYearAverageBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DifferenceValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="WebsiteInfoObj" nillable="true" type="tns:WebsiteInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PGDebitCardInfo" nillable="true" type="tns:PGDebitCardInfo" />
  <xs:complexType name="WebsiteInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Institution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManagerTelphone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewWebsiteID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteManager" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteTel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebsiteInfo" nillable="true" type="tns:WebsiteInfo" />
  <xs:complexType name="PGInsuranceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonGoldBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentDayBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrentYearAverageBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DifferenceValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="WebsiteInfoObj" nillable="true" type="tns:WebsiteInfo" />
          <xs:element minOccurs="0" name="WholeBalance" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PGInsuranceInfo" nillable="true" type="tns:PGInsuranceInfo" />
  <xs:complexType name="ArrayOfPGWebistePerformanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PGWebistePerformanceInfo" nillable="true" type="tns:PGWebistePerformanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPGWebistePerformanceInfo" nillable="true" type="tns:ArrayOfPGWebistePerformanceInfo" />
</xs:schema>