UserAuthorization/Service References/UserInfoService/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfAuthorizationServiceLibrary/UserInfoService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.Prism.ViewModel" />
  <xs:complexType name="BaseModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Practices.Prism.ViewModel" base="q1:NotificationObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndIndex" type="xs:int" />
          <xs:element minOccurs="0" name="OrderbyColomnName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
          <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
          <xs:element minOccurs="0" name="SubOrderbyColomnName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
</xs:schema>