UserAuthorization/Service References/UserInfoService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorizationModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorizationModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Describe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Linktel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
</xs:schema>